<div class="row user" >
  <div class="col-sm-6 col-12 user-column">
    <p>Name: <span class="user-column__data">{{user.firstName}} {{user.lastName}}</span></p>
    <p>Role: <span class="user-column__data">{{user.role}}</span></p>
    <p>Phone Number: <span class="user-column__data">{{user.phoneNumber}}</span></p>
  </div>
  <div class="col-sm-6 col-12 user-column">
    <p>Id: <span class="user-column__data">{{user.ID}}</span></p>
    <p>Place of Work: <span class="user-column__data">{{user.placeOfWork}}</span></p>
  </div>
</div>