.user 
  margin-left: 0px
  margin-right: 0
  color: #888
  font-family: "Montserrat", sans-serif
  font-size: 14px
  line-height: 1
  padding-top: 15px
  background: linear-gradient(to right, #093172 2%, #f3f3f3 2%)
  border-radius: 10px

.user-column
  padding-left:  4%
  &__data
    color: #303133
  &__status
    color: #5e5e5e
    font-weight: bold
