<div class="container">
  <div class="record">
    <div class="record-back">
      <a class="record-back__btn" href="/menu">
        <i class="fa fa-chevron-left"></i><span class="record-back__link">Back to menu</span></a>
    </div>
    <div class="record-header">
      <h2 class="record-header__title">Create New Record</h2>
    </div>

    <div class="error" *ngIf="error">
      <ngb-alert type="danger" [dismissible]="false">{{error}}</ngb-alert>
    </div>

    <form class="form-container" novalidate (ngSubmit)="createRecord()" [formGroup]="newRecord">
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Product</mat-label>
          <mat-select formControlName="product">
            <mat-option *ngFor="let product of products" value={{product.value}}>
              {{product.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="Departure City" formControlName="departureCity">
        </mat-form-field>
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="Destination" formControlName="destination">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="Departure Date" type="date" formControlName="departureDate">
        </mat-form-field>
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="Return Date" type="date" formControlName="returnDate">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="Airline" formControlName="airline">
        </mat-form-field>
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput type="number" placeholder="Total Amount" (change)="setAmountToPay()" formControlName="amountTotal">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="Amount Paid" type="number" (input)="setAmountToPay()" formControlName="amountAlreadyPaid">
        </mat-form-field>
        <mat-form-field class="example-full-width col-xs-12 col-sm-6">
          <input matInput placeholder="Amount to Pay" formControlName="amountToPay" readonly>
        </mat-form-field>
      </div>
      <div class="row form-container__payment">
        <p class="form-container__text">Partial Paiment Possible: </p>
        <div class="form-container__select">
          <div class="checkbox">
            <input class="checkbox__input" type="radio" (click)="setPartialPayment('1')" name="partialPayment" />
            <div class="checkbox__mark"></div>
            <div class="checkbox__label">Yes</div>
          </div>
          <div class="checkbox">
            <input class="checkbox__input" (click)="setPartialPayment('0')" type="radio" name="partialPayment" />
            <div class="checkbox__mark"></div>
            <div class="checkbox__label">No</div>
          </div>
        </div>
      </div>
      <div class="row form-container__areas">
        <div class="col-xs-12 col-sm-6">
          <p class="form-container__title">
            Label (RC)
          </p>
          <textarea class="form-container__textarea" matInput mat-autosize placeholder="Label (RC)" formControlName="remarkRC">
                    </textarea>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="form-container__title">
            Label (Public)
          </p>
          <textarea class="form-container__textarea" matInput mat-autosize placeholder="Label (Public)" formControlName="remarkPublic">
                    </textarea>
        </div>
      </div>
      <div class="row form-files">
        <div class="form-files__title">
          Files
        </div>
        <div class="form-files__added">
          <div class="form-files__item" *ngFor="let file of file">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <p class="form-files__name">{{file.name}}</p>
            <p class="form-files__size">{{(file.size - file.size % 1024) / 1024}} kB</p>
          </div>
          <div class="form-files__add-file">
            <span class="form-files__plus">+</span>
            <span class="form-files__add">Add files</span>
            <input type="file" class="form-files__button" name="file" (change)="change($event)" />
          </div>
        </div>
      </div>
      <div class="record__create">
        <button class="btn btn-lg btn-primary" type="submit" [disabled]="newRecord.invalid || isBtnDisabled">Create record</button>
      </div>
    </form>
  </div>
</div>