<div class="wrapper">
    <div class="login">
        <form class="form" novalidate (ngSubmit)="submit()" [formGroup]="user">
            <div class="form-container">
                <h2>Login</h2>
                <div class="form__inputs">
                <div class="input">
                    <mat-form-field>
                        <input class="input__text" matInput type="email" name="id" formControlName="login"
                               placeholder="ID, Email, Phone Number..."/>
                    </mat-form-field>
                </div>

                    <div class="input">
                        <mat-form-field>
                            <input class="input__text" matInput type="password" formControlName="password"
                                   placeholder="Password"/>
                            <mat-hint align="end" *ngIf="!loginError">Password must contain at least a number and a mayus</mat-hint>
                            <mat-hint align="end" *ngIf="loginError" class="login-error">{{loginError}}</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="form__forgot">
                        <a class="form__link" href="#">Forgot Password</a>
                    </div>
                    <div class="form__button">
                        <button class="btn btn-lg btn-primary">Log in</button>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



