.wrapper
  margin: 0 auto
  padding: 0 20px
  max-width: 630px
  width: 100%

.login
  margin: 0 auto
  padding-top: 140px
  max-width: 100%
.form
  padding: 70px 20px 100px
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  &__inputs
    margin-top: 38px
  &__forgot
    display: flex
    justify-content: flex-end
    margin-top: 45px
  &__button
    display: flex
    justify-content: flex-end
    margin-top: 80px
  &__link
    font-family: "Montserrat", sans-serif
    font-size: 14px
    color: #5c5c5c

.form-container
  margin: 0 auto
  max-width: 400px
.mat-form-field
  display: block
.input
  margin-top: 10px
.mat-hint
  position: relative
  top: 20px
  font-family: "Montserrat", sans-serif
  font-size: 13px
.login-error
  font-family: "Montserrat", sans-serif
  font-size: 15px
  color: red
h2
  margin: 0
  font-family: "Gotham", serif
  font-size: 30px
@media screen and (max-width: 500px)
  .login
    padding-top: 0
  .form
    box-shadow: none
