<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/images/Logo.png" height="80px" alt="Logo">
    </div>
    <div class="nav">
      <div><a routerLink="/menu">Request</a></div>
      <div><a routerLink="/menu">Mine site</a></div>
      <div><a routerLink="/login" (click)="logOut()">Log out</a></div>
    </div>
  </div>
</header>