.header 
  background-color: #002061
  color: #f3f3f3
  height: 80px
.container 
  height: 100%
  margin: auto
  max-width: 950px
  display: flex
  justify-content: space-between
  align-items: center
.nav 
  display: flex

a 
  margin-right: 20px
  color: #f3f3f3
  text-decoration: none
  &:hover 
    text-decoration-line: underline
    color: #5e5e5e