<div class="row record" 
  [ngClass]="{valid: status.valid, paid: status.paid, invalid: status.invalid}">
  <div class="col-sm-6 col-12 record-column">
    <p>Name: <span class="record-column__data">{{record.firstName}} {{record.lastName}}</span></p>
    <p>Departure: <span class="record-column__data">{{record.departureCity}}</span></p>
    <p>Date: <span class="record-column__data">{{departureDate}}</span></p>
    <p class="record-column__status">Status: <span class="record-column__data">{{record.status}}</span></p>
  </div>
  <div class="col-sm-6 col-12 record-column">
    <p>Id: <span class="record-column__data">{{record.ID}}</span></p>
    <p>Destination: <span class="record-column__data">{{record.destinationCity}}</span></p>
    <p>Return: <span class="record-column__data" *ngIf="returnDate">{{returnDate}}</span></p>
    <p class="record-column__status">Price: <span class="record-column__data">{{record.amountTotal}} XAF</span></p>
  </div>
</div>