$color-blue: #002061
$color-white: #f3f3f3
$color-whiter: #ffffff
$color-gray: #cececf
$color-grayer: #5e5e5e
$color-black: #000000
$font-light: Montserrat, sans-serif
$font-heavy: Gotham,  sans-serif

.container
    width: 700px
    max-width: 90%
    font: 100% $font-light
    color: $color-grayer
    margin-top: 80px
    padding: 0
    
.header 
    margin-bottom: 50px
    color: $color-gray
    &__top
        align-items: center
        margin-bottom: 10px
    &__right
        text-align: right
    &__link
        color: $color-blue  
    &__left
        font: bold 25px $font-heavy
        color: $color-black
  
.records 
    margin-bottom: 50px
    &__top 
        font-size: 110%
        margin-bottom: 50px
    &__button
        display: flex
        flex-direction: column
        border-radius: 10px
        background: $color-white 
        height: 150px
        margin-bottom: 20px
        align-items: center
        justify-content: center
        text-align: center
        transition: all 350ms ease
        &:hover
            background: $color-whiter 
            box-shadow: 4px 4px 10px $color-gray
            & img
                filter: opacity(100%)

.users
    &__top 
        font-size: 110%
        margin-bottom: 50px
    &__button
        display: flex
        flex-direction: column
        border-radius: 10px
        background: $color-white 
        height: 150px
        margin-bottom: 20px
        align-items: center
        justify-content: center
        text-align: center
        transition: all 350ms ease
        &:hover
            background: $color-whiter 
            box-shadow: 4px 4px 10px $color-gray
            & img
                filter: opacity(100%)
                
img
    height: 60px
    margin: 10px
    filter: opacity(70%)
    transition: all 350ms ease
    path
        fill: $color-blue
        transition: all 350ms ease
