<div class="container">
  <div class="header">
    <div class="row header__top">
      <h2 class="col header__left">Menu</h2>
      <p class="col header__right">
        Welcome back
        <a class="header__link" routerLink="/menu">Franck.</a>
      </p>
    </div>
    <div class="row">
      <p class="col-12">
        Select an option.
      </p>
    </div>
  </div>
  <div class="records">
    <div class="row">
      <h4 class="col-12 records__top">Records</h4>
    </div>
    <div class="row justify-content-between">
      <div class="col-12 col-sm-4" routerLink="/records/search">
        <div class="records__button">
          <img src="assets/images/recordsSearch.svg" alt="Search">
          Search Records
        </div>
      </div>
      <div class="col-12 col-sm-4" routerLink="/records/add" *ngIf="userRole==='ADMIN'||userRole==='EASE'">
        <div class="records__button">
          <img src="assets/images/recordsCreate.svg" alt="Create">
          <span>
            Create New Record
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-4" routerLink="/records" *ngIf="userRole==='ADMIN'||userRole==='EASE'">
        <div class="records__button">
          <img src="assets/images/recordsList.svg" alt="List">
          Record List
        </div>
      </div>
    </div>
  </div>
  <div class="users" *ngIf="userRole==='ADMIN'||userRole==='EASE'">
    <div class="row">
      <h4 class="col-12 users__top">Users</h4>
    </div>
    <div class="row justify-content-between">
      <div class="col-12 col-sm-6" routerLink="/users">
        <div class="users__button">
          <img src="assets/images/userSearch.svg" alt="Search">
          Search Users
        </div>
      </div>
      <div class="col-12 col-sm-6" routerLink="/users/add" *ngIf="userRole==='ADMIN'">
        <div class="users__button">
          <img src="assets/images/userCreate.svg" alt="Create">
          Create New User
        </div>
      </div>
    </div>
  </div>
</div>