@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/montserrat.woff2") format("woff2"),
  url("assets/fonts/montserrat.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
