<div class="container">
  <div class="record-back">
    <a class="record-back__btn" href="/menu">
      <i class="fa fa-chevron-left"></i><span class="record-back__link">Back to menu</span></a>
  </div>
  <div class="row justify-content-between record-header">
    <h2 class="col-3 record-header__title">Records</h2>
    <div class="col-md-5 col-12 record-header__search">
      <input type="text" placeholder="search" class="record-header__input">
      <i class="fa fa-search search"></i>
    </div>
  </div>
  <div class="row record-filter">
    <div class="col-12 record-filter__title" (click)="filtersIsOpen=!filtersIsOpen">
      <span>Filters</span>
      <i *ngIf="filtersIsOpen" class="fa fa-chevron-up"></i>
      <i *ngIf="!filtersIsOpen" class="fa fa-chevron-down"></i>
    </div>
    <form *ngIf="filtersIsOpen" class="col-12 form-container">
      <div class="row">
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Name" (input)="filterRecord()" name="name" [(ngModel)]="filter.name">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Id" (input)="filterRecord()" name="id" [(ngModel)]="filter.id">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12">
          <input matInput placeholder="Destination" (input)="filterRecord()" name="destination" [(ngModel)]="filter.destination">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="row">
    <app-record-item class="col-12 record--item" *ngFor="let record of records | async" [record]="record" routerLink="/records/details/{{record.ID}}"></app-record-item>
  </div>
</div>