<h2 mat-dialog-title>Add Payment</h2>
<div class="row content">
  <div class="col-12">
    Amount to Pay <span>XAF {{data.amountToPay}}</span>
  </div>
  <mat-divider class="col-12"></mat-divider>
  <div class="col-12">
    <mat-form-field class="add--input">
    <input class="input__text" matInput type="number" (input)="paymentValidadion()" [(ngModel)]="data.addAmount" placeholder="Add Amount" [readonly]="!data.partialPayment"/>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn" (click)="onNoClick()">Cancel</button>
  <button class="btn btnprimary" [mat-dialog-close]="data.addAmount" [disabled]="!paymentValidator">Confirm</button>
</div>