<div class="container">
  <div class="record-back">
    <a class="record-back__btn" href="/menu">
      <i class="fa fa-chevron-left"></i><span class="record-back__link">Back to menu</span></a>
  </div>
  <div class="row justify-content-between record-header">
    <h2 class="col-3 record-header__title">Records</h2>
    <div class="col-md-5 col-12 record-header__search">
      <input type="text" placeholder="search" class="record-header__input">
      <i class="fa fa-search search"></i>
    </div>
  </div>
  <div class="row record__search">
    <mat-form-field class="col-12">
      <input matInput placeholder="Record ID" name="id" [(ngModel)]="recordID" (keyup.enter)="searchRecord()">
    </mat-form-field>
  </div>
  <div class="row" *ngIf="record">
    <app-record-item class="col-12 record--item" *ngFor="let record of record" [record]="record"
      routerLink="/records/details/{{record.ID}}"></app-record-item>
  </div>
  <div class="row" *ngIf="!record">
    <div class="col-12">
        No results
    </div>  
  </div>

</div>