<div class="container">
    <div class="record">
        <div class="record-back">
            <a class="record-back__btn" href="/records">
                <i class="fa fa-chevron-left"></i><span class="record-back__link">Back to records</span></a>
        </div>
        <div class="record-header">
            <h2 class="record-header__title">Record Details</h2>
            <div class="record-header__payment">
                <div class="record-header__edit" *ngIf="userRole==='ADMIN'||userRole==='EASE'">
                    <span class="record-header__text">Edit</span>
                    <i class="fa fa-pencil"></i>
                </div>
                <button class="btn btn-lg btnprimary" (click)="openDialog()" *ngIf="userRole==='PARTNER'">Add
                    payment</button>
            </div>
        </div>

        <div class="form-container" *ngIf="record">
            <div class="row">
                <mat-form-field class="col-12">
                    <input matInput placeholder="Product" value={{record.product}} readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="First Name" value={{record.firstName}} readonly>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Last Name" value={{record.lastName}} readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Departure City" value={{record.departureCity}} readonly>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Destination" value={{record.destinationCity}} readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Departure Date" value={{departureDate}} readonly>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Return Date" value={{returnDate}} readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Airline" value={{record.airline}} readonly>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Total Amount" value={{record.amountTotal}} readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Amount Paid" value={{record.amountAlreadyPaid}} readonly>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input matInput placeholder="Amount to Pay" value={{record.amountToPay}} readonly>
                </mat-form-field>
            </div>
            <div class="row form-container__payment">
                <p class="form-container__text">Partial Paiment Possible: </p>
                <div class="form-container__select">
                    <div class="checkbox">
                        <input class="checkbox__input" type="checkbox" name="yes" [checked]="partialPayment.yes"
                            disabled />
                        <div class="checkbox__mark"></div>
                        <div class="checkbox__label">Yes</div>
                    </div>
                    <div class="checkbox">
                        <input class="checkbox__input" type="checkbox" name="no" [checked]="partialPayment.no"
                            disabled />
                        <div class="checkbox__mark"></div>
                        <div class="checkbox__label">No</div>
                    </div>
                </div>
            </div>
            <div class="payment" *ngIf="record.paymentObject && record.paymentObject[0]">
                <div class="payment__title">
                    Payments
                </div>
                <div class="payment-item">
                    <div class="payment-item__date payment-item__date_header">
                        Date
                    </div>
                    <div class="payment-item__place payment-item__place_header">
                        Workplace
                    </div>
                    <div class="payment-item__user payment-item__user_header">
                        User
                    </div>
                    <div class="payment-item__amount payment-item__amount_header">
                        Amount
                    </div>
                </div>
                <div class="payment-item" *ngFor="let payment of record.paymentObject">
                    <div class="payment-item__date">
                        {{payment.date}}
                    </div>
                    <div class="payment-item__place">
                        {{payment.placeOfWork}}
                    </div>
                    <div class="payment-item__user">
                        {{payment.fullName}}
                    </div>
                    <div class="payment-item__amount">
                        {{payment.amount}} XAF
                    </div>
                </div>
            </div>
            <div class="row form-container__areas" >
                <mat-form-field class="col-xs-12 col-sm-6" *ngIf="userRole!=='PARTNER'">
                    <textarea class="form-container__textarea" 
                    matInput mat-autosize placeholder="Label (RC)" 
                    
                    readonly>
                    {{record.remarkRC}}
                    </textarea>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <textarea class="form-container__textarea" matInput mat-autosize placeholder="Label (Public)"
                        readonly>
                        {{record.remarkPublic}}
                    </textarea>
                </mat-form-field>
            </div>
            <div class="row form-files">
                <div class="form-files__title">
                    Files
                </div>
                <div class="form-files__added">
                    <div class="form-files__item" *ngFor="let file of record.files"
                        (click)="uploadFile(file.fileName, file.name)">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <p class="form-files__name">{{file.name}}</p>
                        <p class="form-files__size">{{(file.size - file.size % 1024) / 1024}} kB</p>
                    </div>
                    <div class="form-files__add-file" *ngIf="userRole==='ADMIN'||userRole==='EASE'">
                        <span class="form-files__plus">+</span>
                        <span class="form-files__add">Add files</span>
                        <input type="file" class="form-files__button" name="file" (change)="change($event)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>