<div class="container">
  <div class="user">
    <div class="user-back">
      <a class="user-back__btn" href="/menu">
        <i class="fa fa-chevron-left"></i><span class="user-back__link">Back to menu</span></a>
    </div>

    <div class="error" *ngIf="error">
      <ngb-alert type="danger" [dismissible]="false">{{error}}</ngb-alert>
    </div>

    <div class="user-header">
      <h2 class="user-header__title">Create New User</h2>
    </div>

    <form class="form-container" novalidate (ngSubmit)="createUser()" [formGroup]="newUser">
      <div class="row">
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Confirm Password" type="password" formControlName="passwordCheck">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Place of Work" formControlName="placeOfWork">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Workplace Id" formControlName="workPlaceID">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Phone Number" formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" value={{role.id}}>
              {{role.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <div class="user__create">
      <button class="btn btn-lg btn-primary" type="submit" (click)="createUser()" [disabled]="newUser.invalid || isBtnDisabled">Create user</button>
    </div>
  </div>
</div>