.container
  max-width: 820px
.user
  padding-top: 30px
  &__create
    display: flex
    justify-content: flex-end
    margin-top: 30px
    margin-bottom: 30px
.user-header
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 25px
  &__edit
    text-decoration: none
  &__title
    font-family: "Gotham", sans-serif
    font-size: 30px
  &__text
    margin-right: 10px
    font-family: "Montserrat", sans-serif
    font-size: 18px
    color: #888

  .fa-pencil
    font-size: 18px
    color: #888
.user-back
  &__btn
    display: flex
    text-decoration: none

  &__link
    font-family: "Montserrat", sans-serif
    font-size: 18px
    color: #888
  .fa-chevron-left
    display: flex
    align-items: center
    font-size: 10px
    color: #888
    &:before
      margin-right: 15px
      line-height: 0.5

.form-container
  margin-top: 20px
  &__select
    display: flex
  &__payment
    margin-top: 30px !important
    padding: 0 15px
  &__text
    margin-right: 6.5%
    margin-bottom: 0
    font-family: "Montserrat", sans-serif
    font-size: 15px
  &__areas
    margin-top: 50px !important
  &__textarea
    margin-top: 5px
    line-height: 25px
    min-height: 150px
    border: 2px solid #ccc
    overflow: auto
  &__title
    margin-bottom: 5px !important
    font-family: "Montserrat", sans-serif
    font-size: 15px
    color: #5c5c5c

.mat-input-element
  font-family: "Montserrat", sans-serif
  font-size: 15px
.row
  margin-top: 15px
.checkbox
  display: flex
  position: relative
  margin-right: 30px
  max-width: 320px
  width: 100%
  &__input
    position: absolute
    z-index: 2
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    cursor: pointer
    -webkit-appearance: none
  &__mark
    position: relative
    top: 1px
    left: 0
    width: 17px
    height: 16px
    border-radius: 3px
    border: 1px solid #909090
  &__label
    padding-left: 15px
    font-family: "Montserrat", sans-serif
    font-size: 15px
    text-transform: uppercase
  &__input:checked ~ &__mark:after
    content: "\f00c"
    font-family: "FontAwesome"
    position: absolute
    top: -3px
    left: 1px
    display: block
    width: 9px
    height: 14px
    font-size: 13px
    color: #002061
.form-files
  margin-top: 0
  padding: 60px 15px 0
  &__added
    width: 100%

  &__title
    padding-bottom: 4px
    width: 100%
    border-bottom: 2px solid #ccc
    font-family: "Montserrat", sans-serif
    font-size: 12px
    color: rgba(0,0,0,.54)
  &__item
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 10px
    padding: 0 15px
    width: 100%
    min-height: 35px
    border-radius: 5px
    border: 1px solid #ccc
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
    .fa-file-text-o
      color: #5c5c5c
  &__name
    margin: 7px 0 0 20px
    font-family: "Montserrat", sans-serif
    font-size: 14px
  &__size
    margin-left: auto
    margin-bottom: 0
    font-family: "Montserrat", sans-serif
    font-size: 10px
  &__add-file
    display: flex
    align-items: center
    position: relative
    margin-top: 10px
    max-width: 130px
    font-family: "Montserrat", sans-serif
    font-size: 20px
    color: #5c5c5c
  &__button
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
  &__plus
    font-size: 30px
  &__add
    margin-left: 20px
    font-size: 18px
@media screen and (max-width: 576px)
  .user-header
    &__title
      font-size: 26px

