.container 
  padding-top: 30px

.mat-input-element
  font-family: "Montserrat", sans-serif
  font-size: 15px

.user-back
  &__btn
    display: flex
    text-decoration: none

  &__link
    font-family: "Montserrat", sans-serif
    font-size: 18px
    color: #888
  .fa-chevron-left
    display: flex
    align-items: center
    font-size: 10px
    color: #888
    &:before
      margin-right: 15px
      line-height: 0.5

.user-header
  align-items: center
  margin-top: 25px
  &__title
    font-family: "Gotham", sans-serif
    font-size: 30px
  &__input 
    border: none
    text-align: right
    padding-right: 10px
  &__search
    display: flex
    justify-content: flex-end
    align-items: center
  .search
    color: #888

.user-filter
  margin-bottom: 20px
  &__title
    color: #888
    cursor: pointer
    .fa-chevron-up
      font-size: 10px
      &:before
        margin-left: 15px
    .fa-chevron-down
      font-size: 10px
      &:before
        margin-left: 15px
.user--item
  margin-bottom: 20px