<div class="container">
  <div class="user-back">
    <a class="user-back__btn" href="/menu">
      <i class="fa fa-chevron-left"></i><span class="user-back__link">Back to menu</span></a>
  </div>
  <div class="row justify-content-between user-header">
    <h2 class="col-3 user-header__title">Users</h2>
    <div class="col-md-5 col-12 user-header__search">
      <input type="text" placeholder="search" class="user-header__input">
      <i class="fa fa-search search"></i>
    </div>
  </div>
  <div class="row user-filter">
    <div class="col-12 user-filter__title" (click)="filtersIsOpen=!filtersIsOpen">
      <span>Filters</span>
      <i *ngIf="filtersIsOpen" class="fa fa-chevron-up"></i>
      <i *ngIf="!filtersIsOpen" class="fa fa-chevron-down"></i>
    </div>
    <form *ngIf="filtersIsOpen" class="col-12 form-container">
      <div class="row">
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Name" name="name" [(ngModel)]="filter.name" (input)="filterUser()">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6">
          <mat-label>Role</mat-label>
          <mat-select name="role" [(ngModel)]="filter.role">
            <mat-option *ngFor="let role of roles" (click)="filterUser()" value={{role.id}}>
              {{role.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="Place of work" (input)="filterUser()" name="placeOfWork" [(ngModel)]="filter.placeOfWork">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6">
          <input matInput placeholder="City" (input)="filterUser()" name="city" [(ngModel)]="filter.city">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="row">
    <app-user-item class="col-12 user--item" *ngFor="let user of users | async" [user]="user"></app-user-item>
  </div>
</div>