/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/bootstrap';
@import 'styles/fonts';

.btn-lg {
  display: block;
  padding: 12px 25px;
  max-width: 185px;
  width: 100%;
  border: none;
  background-color: #002061;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff;
}

.mat-form-field-label {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-underline {
  bottom: 0 !important;
  height: 2px !important;
  background-color: #ccc !important;
}

.mat-form-field-flex {
  padding-bottom: 5px
}

.form-container__areas .mat-form-field-underline {
  top: 18px !important;
}

.container {
  max-width: 820px;
}

.login {
  .mat-form-field-hint-spacer {
    display: none
  }
  .mat-form-field-subscript-wrapper {
    overflow: visible
  }
}

@media screen and (max-width: 576px) {
  .mat-form-field {
    margin-top: 15px !important;
  }
  .btn-lg {
    padding: 10px;
    min-width: 150px;
    font-size: 13px;
  }
}


